<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Quick overview of the Liquor Database</title>
</head>

<body>
    ${sidebar_top()}
    ${sidebar_bottom()}
  <div id="getting_started">
    <h2><u>About</u></h2>
    <dl>
      <dt><a href="#info">Architectural Basics</a></dt>
      <dd><a href="#intro">1. Introduction</a></dd>
      <dd><a href="#about">2. About This Project</a></dd>
      <dd><a href="#code">3. About The Code</a></dd>
      <dd><a href="#build">4. How To Build</a></dd>
      <dt><a href="#team">About The Team</a></dt>
    </dl>
    <a name="info"></a>
    <h2><u>Architectural basics of our project</u></h2>
    <p>Quick information about our project. Here's how it works.</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <a name="intro"></a>
        <h3>Introduction</h3>
        <p> One of the main reasons why this database exists is to have a centralized location
            of information about <strong>liquor, beer, and wine</strong>.</p>
        <p> Our idea behind the project was for users to discover new and interesting drinks 
            that they might have never heard of or tried before. Our end goal was to provide 
            an easy to use website that would allow a user to query our database and discover 
            new drinks within our database.</p>
      </li>
      <li class="getting_started">
        <a name="about"></a>
        <h3>What is this?</h3>
        <p> This website is geared towards users who are interested in expanding their
            knowledge about different styles of liquor, beer, and or wine. This project
            seeks to allow users to discover these new products along with other different
            items that could go along with it, such as food. </p>
        <p> The data we have within this project contains many different products that 
            the average user might not know about. Within our demo page, we show how exactly
            this website could work. We will give several examples with data to show the
            result of each question. </p>
      </li>
      <li class="getting_started">
        <a name="#code"></a>
        <h3>How was it built?</h3>
        <p> <strong><span class="code">paster quickstart</span></strong> -- This project was initially
            created using the paster quickstart script which is built into TurboGears. 
            This script allows us to generate the code required to begin the project.</p>
        <p> <strong><span class="code">data.py</span></strong> - The main work behind
            the database file is created in <strong>data.py</strong>. Each part of the
            database is known as a class in python. Each class has an 
            <span class="code">init</span> function that takes its attributes and 
            initializes each class. Each class is given a table name so that the project knows
            what to call the table when other parts of the project references it.
            Not only does each class have its own attributes, but many of our classes
            also require foreign keys.</p>
            <p> <strong><span class="code">websetup.py</span></strong> - Within this python file, 
            we enter in all of our setup data. When we compile our project, PasterScript goes
            through this file and uses <strong>DBSession</strong> within SQLAchemy to add
            each value into our tables. First, you add each attribute, using the definition we
            set up within data.py, and then we use DBSession to <i>add</i> the new created
            value into the specific table. DBSession uses <strong>transactions</strong>
            built into its framework so that if there are errors while generating the database,
            or if there are erros at run time while users are manipulating the database,
            DBSession will rollback the DB automatically.</p>
      </li>
      <li class="getting_started">
        <a name="build"></a>
        <h3>How to compile and run?</h3>
        <p> First, you must make sure you are located within the home folder of this project.</p>
        <p> <strong><span class="code">paster setup-app deveopment.ini</span></strong> -- This line
            will set up the project using <strong>data.py</strong> and <strong>websetup.py</strong>.
            This line will be used when you add new entries into websetup.py. However, for this to 
            work properly you must <u><strong>delete the devdata.db</strong></u> file
            (assuming it exists). If you do not do this, paster will attempt to add the same data to 
            the DB file and will fail, thus rolling back the changes.</p>
        <p> <strong><span class="code">paster serve development.ini</span></strong> -- This line
            will compile the server and host the project onto the local host. Once you run this script
            it will display the URL for where the project is being hosted.</p>
      </li>
    </ol>
    <a name="team"></a>
    <h2><u>About our Team</u></h2>
    <p>A quick overview of our team</p>
    <ul id="getting_started_steps">
      <table>
      <tr>
      <td>
        <li class="column1">
        <h3>Brian Cain</h3>
        <img src="http://dl.dropbox.com/u/20387923/Photos/brianSm2.png" alt="brian"/>
        <ul>
          <li>Design/implimentation of system architecture</li>
          <li>Webpage Design: <a href="${tg.url('/index')}">Index</a>, 
              <a href="${tg.url('/about')}">About</a>, 
              <a href="${tg.url('/contact')}">Contact</a></li>
        </ul>
        </li>
      </td>
      <td>
        <li class="column1">
        <h3>Carlos Salazar</h3>
        <img src="http://dl.dropbox.com/u/20387923/Photos/carlosSm2.png" alt="carlos"/>
        <ul>
          <li>Created E/R Diagram in inDesign, Website graphics</li>
          <li>Webpage Design: <a href="${tg.url('/derp')}">Data Demo</a></li>
        </ul>
        </li>
      </td>
      </tr>
      <tr>
      <td>
        <li class="column2">
        <h3>Kevin Schwarz</h3>
        <img src="http://dl.dropbox.com/u/20387923/Photos/kevinSm.png" alt="kevin"/>
        <ul>
          <li>Data collection</li>
          <li>Relational Schema</li>
        </ul>
        </li>
      </td>
      <td>
        <li class="column2">
        <h3>Owen Praeger</h3>
        <img src="http://dl.dropbox.com/u/20387923/Photos/owenSm2.png" alt="owen"/>
        <ul>
          <li>Data collection</li>
        </ul>
        </li>
      </td>
    </tr>
    </table>
    </ul>
  </div>
</body>
</html>
