<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Contact Us</title>
</head>

<body>
  <div id="getting_started">
    <h2>Contact Us!</h2>
    <p>If you have any questions, please feel free to <a href="mailto:bccain@ksu.edu">contact us</a>.</p>
    <ul id="getting_started_steps">
      <li class="getting_started">
        <h3>Github Source</h3>
        <p>If you are interested in the source code for this website, visit the code 
          <a href="https://github.com/lawlypop/Database-Project" target="_blank">here</a>.</p>
      </li>
    </ul>
  </div>
  <div class="clearingdiv" />
</body>
</html>
