<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Derp.</title>
  <script type="text/javascript" src="javascript/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="javascript/jquery-ui-1.8.10.custom.min_.js"></script>
  <script type="text/javascript" src="javascript/accordionImageMenu-0.4.min_.js"></script>
  <link rel="stylesheet" href="css/accordionImageMenu.css" type="text/css" />
  <script type="text/javascript">
  $(document).ready(function() {
	$('#menu').AccordionImageMenu({
	  'openDim': 320,
	  'closeDim': 180,
          'height':300,
	});
  });
  </script>


</head>

<body>
  <ul id='menu'>
     <li><a href='wine'><span>Wine</span><img src="images/wine.jpg" /></a></li>
     <li><a href='beer'><span>Beer</span><img src="images/ba_glassware02.jpg" /></a></li>
     <li><a href='liquor'><span>Liquor</span><img src="images/liquor.jpg" /></a></li>
     <li><a href='food'><span>Food</span><img src="images/steak.bmp" /></a></li>
     <li><a href='region'><span>Regions</span><img src="images/Earth.jpg" /></a></li>
  </ul>
</body>
</html>
