<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to the Liquor Database</title>
</head>

<body>
  <div id="getting_started">
    <h2>CIS 560 Database Presentation</h2>
    <p>Welcome to the liquor database. Please go to the data tab to view our demo.</p>
    <ul id="getting_started_steps">
      <li class="getting_started">
        <h3>A demo of the site</h3>
        <p>Please visit our <a href="${tg.url('/derp')}">demo</a> tab to see a work in progress.</p>
      </li>
      <li class="getting_started">
        <h3>About this Project</h3>
        <p>Please visit our <a href="${tg.url('/about')}">about</a> tab to learn more information about this project.</p>
      </li>
    <li class="getting_started">
        <h3>Contact and Source Code</h3>
        <p>If you are interested in contacting us, please visit our 
           <a href="${tg.url('/contact')}">contact page</a>.</p>
      </li>
    </ul>
  </div>
  <div class="clearingdiv" />
</body>
</html>
