<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to the Liquor Database</title>
</head>

<body>
    ${sidebar_top()}
  <div id="getting_started">
    <h2>CIS 560 Database Presentation</h2>
    <p>Welcome to the liquor database. Please go to the data tab to view data.</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>TurboGears with SQLAlchemy</h3>
        <p>Our database was compiled with PasterScript, written in Python using SQLAlchemy</p>
      </li>
      <li class="getting_started">
        <h3>The Website</h3>
        <p>Information about how the website was made and what tools were used can go here. For more information, please visit our <a href="${tg.url('/about')}">about</a> tab.</p>
      </li>
      <li class="getting_started">
        <h3>A demo of the site</h3>
        <p>Please visit our <a href="${tg.url('/derp')}">demo</a> tab to see a work in progress.</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Thank you for choosing TurboGears. 
  </div>
</body>
</html>
